@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #4d5661;
    --cor-secundaria: #0f345e;
    --cor-destaque: #ae1a93;
}

body {
    font-family: 'Chakra Petch', sans-serif;
  background: #ffffff;
background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(110, 110, 110, 1) 51%, rgba(26, 26, 26, 1) 100%);

}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

.lead{
color: white;
text-shadow: 1px 3px #353536;
}

.habi{
    text-shadow: 2px 2px rgb(87, 84, 87);
    transition: transform 0.5s ease;
    cursor: pointer;
    color: inherit;
    color: white;
}

.habi:hover{
    transform: scale(1.2);
}

.enter{
    display: flex;
    align-items: center;
    justify-content:center;
    color: rgb(20, 20, 20);
    text-shadow: 2px 2px 2px #696969;
}

.git{
    display: flex;
        color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}
.git:hover{
    transform: scale(1.2);
}

.a-1{
    display: flex;
        color: rgb(0, 0, 0);
}

.meu-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.templet{
    color: white;
    text-shadow: 1px 6px #5c5c5e;
}

.info{
    animation-duration: 3s;
    animation-name: slidein;
    color: white;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
.min-3{
    color: white;
}

.card{
    transition: transform 0.5s ease; 
}

.card:hover{
    transform: scale(1.2);
 
}
.mon-1{
color: rgb(255, 255, 255);
}
.card-body{
    background-color: #a5a5b3;
}
.meu-1{
    color:white;
}

.cont-3 {
    animation: piscar 7s linear infinite;
  }
  
  @keyframes piscar {
    0% {
      opacity: 1; 
    }
    50% {
      opacity: 0; 
    }
    100% {
      opacity: 1;
    }
  }

.a-5{
    color: inherit;
}


